{:paths ["src/main/clj" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.11.0-alpha1"}
         eu.mihosoft.vrl.jcsg/jcsg {:mvn/version "0.5.7"}
         eu.mihosoft.vcsg/vcsg     {:mvn/version "0.7.4"}
         cljfx/cljfx               {:mvn/version "1.7.14"}}
 :aliases
 {:dev     {}
  :run-m   {:main-opts ["-m" "cljcsg.core"]}
  :run-x   {:ns-default cljcsg.main
            :exec-fn    greet
            :exec-args  {:name "Clojure"}}
  :test    {:extra-paths ["src/test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn    cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "cljcsg.jar"
                           :main-class "cljcsg.core"
                           :sync-pom   true}}}}
